<div class="w3-container below-slider">
  <div class="w3-row">
     <div class="w3-col l6 m6">
       <div class="block">
         <h1><strong class="strong1">About</strong><strong> Fidgeting Cube</strong></h1>
         <p>The Fidgeting Cube Was Designed With The Fidgeter In Mind. This Unique Pocket Size Desk Toy With 6 Functionalble Sides Is Strangely Addicting And Provides Stress Relief For Any Fidgeter. We Offer A Risk Free Satisfaction Guarantee* So You Can Rest Assured Your Getting A Quality Fidgeting Cube.</p>
       </div>
     </div>
     <div class="w3-col l6 m6">
      <div class="block">
       <h1><strong class="strong1">What</strong><strong> is it?</strong></h1>
       <p>A 6 Sided Desk Toy For Restless Fidgeters Specifically Designed To Help You Relax And Alleviate Stress. It Doesn't Matter If Your A Spinner, Roller, Clicker Or A Flicker, The Stress Relieving Fidget Cube Has Something To Satisfy The Needs Of Any Fidgeter. Check Our Our Latest Cubes And Purchase Yours Today.</p>
       </div>
     </div>
  </div>  
</div>


{% comment %} ye purana Style the Without responsive
<div class="container12">
<div class="column6">
  <h1><strong class="strong1">About</strong><strong> Fidgeting Cube</strong></h1>
  <p>The Fidgeting Cube Was Designed With The Fidgeter In Mind. This Unique Pocket Size Desk Toy With 6 Functionalble Sides Is Strangely Addicting And Provides Stress Relief For Any Fidgeter. We Offer A Risk Free Satisfaction Guarantee* So You Can Rest Assured Your Getting A Quality Fidgeting Cube.</p>
  </div>
<div class="column6">
  <h1><strong class="strong1">What</strong><strong> is it?</strong></h1>
  <p>A 6 Sided Desk Toy For Restless Fidgeters Specifically Designed To Help You Relax And Alleviate Stress. It Doesn't Matter If Your A Spinner, Roller, Clicker Or A Flicker, The Stress Relieving Fidget Cube Has Something To Satisfy The Needs Of Any Fidgeter. Check Our Our Latest Cubes And Purchase Yours Today.</p>
  </div>
</div>
{% endcomment %}
