#shopify-section-slideshow{
  position:relative;
}
#Slideshow-slideshow{
    height:0px;
    width: 100%;
    position:relative;
}
.slide-show-prev{
   position: absolute;
    top: 50%;
    left: 30px;
    z-index: 1005;   
    display: inline-block;
}
.slide-show-next{
    position: absolute;
    top: 50%;
    right: 30px;
    z-index: 1005;   
    display: inline-block;
}
.slide-show-prev a,
.slide-show-next a{
    padding: 5px 20px;
    margin: 0px;
    display: block;
    background: #DFDFDF;
    font-size: 1.8em;
    /* width: 50px; */
    /* height: 50px; */
    color: white;
}

/*************  My(kk) Slider Work Done *********/
.below-slider{
  width:1200px;
  max-width:90%;
  margin:auto;
}
.below-slider .block{
  padding:10px;
}
.below-slider .block h1{
    font-size: 1.4em;
    /* font-family: 'Open Sans', sans-serif; */
    letter-spacing: 0.5px;
    font-weight: bold;
}
.below-slider .block p{
    font-size: 1em;
    color: #575757;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
.slideshow__image{
     border-bottom: 5px solid #394048;
    background-size:100% 100%;
}
.site-header{
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(4,39,129,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(4,39,129,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(4,39,129,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(4,39,129,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(4,39,129,1) 100%);
    background: linear-gradient(to bottom, rgba(73, 128, 255, 1) 0%, rgba(4,39,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#042781', GradientType=0 );
}
.list--inline{
     margin-top: 10px!important;
      float: right;
}
.site-nav li a{
 color:white!important;
 font-size: 16px!important;
}
.site-header__cart{
    top: 38px;
    margin-right: 24px;
/*     margin-right: 60px!important;
    position: absolute; */
}
.site-header__search{
     margin-top: 50px!important;
}
.search-header{
 display:none;
}
.site-header__account{
     top: 22%!important;
}
.strong1{
 color:#3898FE;
}
#shopify-section-footer{
 background-color: #394048!important;
}
.site-footer__linklist a {
color:white!important;
}
.fotterhead{
 color:white;
 margin-top: 30px;
 border-bottom: 1px dashed rgba(255, 255, 255, 0.51);
 border-top: 1px dashed rgba(255, 255, 255, 0.51);
 padding: 10px;
 display:flex;
 font-size: 1em;
 font-weight: bolder;
}
.fotterhead .imgi{
  margin:0px 3px;
  height:18px;
  width:auto;
  margin-top: -3px;
}
.site-footer__linklist{
     margin-top: 15px!important;
}
.site-footer__newsletter {
    margin: 0 0 0!important;
    max-width: none;
}
.ulhead{
      margin-top: 38px!important;

}
.icn{
    color: white!important;
    font-size: 22px!important;
}
.list--inline li{
 padding: 5px;
}
.extra{
    margin-top: 10px!important;
    width: 50%!important;
    background-color:#3E98F9!important;
}
/* 09-03-17 */
.row_col {
    width: 100%;
    overflow: hidden;
    padding: 20px 0px;
}
.row_1 {
    border-bottom:1px solid rgba(136, 136, 136, 0.28);
}

.grid-view-item__title{
text-align:center;
}
.pro_price_align {
    text-align: center;
}
.dashed_borde_bottom {
    width: 100%;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.51);
    padding: 14px;
}
h4.copyright_heading_h4 {
    color: #fff;
    text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bolder;
  word-spacing: 1.5px;
    
}
p.copyright_support {
    color: #fff;
    font-size: 14px;
    margin: 0;
    font-size: 0.85em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    word-spacing: 1px;
}
p.copyright_support a {
    color: #3c98fb;
}
.site_footer_copyright {
    width: 100%;
    overflow: hidden;
    padding-top: 24px;
}
small.copyright_content {
    float: right;
    color: #fff;
}
small.copyright_content a{
    color: #fff;
    font-size: 14px;
}
.product_outer {
    width: 100%;
    overflow: hidden;
}
.pro_sec_outer {
    width: 49.9%;
    float: left;
   height: 375px;
}
.pro_sec_outer_img {
background:#f0f0f0; 
}
.pro_sec_outer_content {
 background:#e5e5e5;
  margin-left:1px; 
}
.product_info_outer {
    padding: 12% 7%;
}
.cart_icon1 {
    width: 70%;
    float: left;
    color:#fff;
    padding: 1px 0;
}
.cart_icon2 {
    width: 25%;
    float: left;
}
.cart_btn_new {
    width: 215px;
    height: 45px;
}
.cart_btn_new {
    width: 215px;
    height: 45px;
    color: #fff;
/*     background: #394048; */
    color:red;
}
.add_to_cart_home{}
.first_order {
    width: 45%;
    float: left;
}
.first_order .span1 {
    width: 50%;
    float: left;
    font-size: 36px;
}
.first_order .span2 {
    width: 40%;
    float: left;
    
}
.price_sec_home {
    padding: 4% 0;
}
.price_sec_home s {
    font-size: 34px;
    color: #ff0400;
}
.price_sec_home span {
    font-size: 34px;
    margin-left: 16px;
}
.price_sec_home span.product-price__sale-label {
    display: none;
}
.product_info_outer h3 {
    font-weight: 600;
    font-size: 34px;
}
.index-section{
    padding-bottom:0px;
}
.variant_field_hidden {
    display: none;
}
.pro_sec_outer.pro_sec_outer_img {
    text-align: center;
    padding-top: 35px;
}
/* 09-03-17 */

.singleproductblock{
}
.singleproductblock .img{
   background: #f0f0f0;
}
.singleproductblock .img .singleproductimg{
  width:300px;
  max-width:90%;
  margin:auto;
  display:block;
}
.singleproductblock .containent{
   background: #e5e5e5;
}
.singleproductblock .block{
  padding:2px 15px;
}
.singleproductblock .containent h3{
     font-size: 2.4em;
    font-weight: bolder;
    letter-spacing: 0px;
    color: #1F1F1F;
}
.singleproductblock .containent .product-price__price{
    font-size: 1.5em;
    color: #ff0400;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.singleproductblock .containent .product-price__sale{
    font-size: 1.5em;
    color: #444444;
    font-weight: normal;
}
.
.singleproductblock .containent #AddToCart{
    border: 0px;
    border-radius: 0px;
    font-size: 1em;
    height: auto;
    font-weight: bolder;
    margin-left: 20px;
}
.singleproductblock .containent #AddToCart i.fa{
  font-size:1.4em;
}
.fa-check-circle{
  color: #DCDCDC;
}
#shopify-section-featured-collections .h4{
    color:#444444 !important;
  font-weight:bold;
}
#shopify-section-featured-collections .product-price__price{
    color: #444444 !important;
    margin: 0px 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
   
}
#shopify-section-featured-collections .product-price__sale{
    color: #444444 !important;
    margin: 0px 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
   
}
#shopify-section-featured-collections .product-price__sale-label{
     font-size: 1.2em;
     color: red!important;
  font-family: 'Open Sans', sans-serif;
}
.set_heading_color .column4 h2 span{
    color: #2C2C2C !important;
    font-weight: bolder !important;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: capitalize !important;
    font-size: 0.9em !important;
}
.my-new-header{
  background:linear-gradient(to bottom, rgba(73, 128, 255, 1) 0%, rgba(4,39,129,1) 100%)
}
.my-new-header .site-header__logo{
  text-align:right;
}
.my-new-header .site-header__logo-image{
  display:inline-block;
}
.my-new-header .site-header__logo img{
  display:inline;
}
.top-header-login{
  text-align:right;
  padding:10px 15% 0px 0px;
}
.top-header-login .list--inline{
  margin-top:0px !important;
}
#AddToCartText-product-template{
     color: #ffffff!important;
     font-weight:bold!important;
}
.adding{
    width:400px
}
.site-nav li a{
 text-decoration:none!important;
}
.product-price__sale-label{
 color:red!important;
}
.s4com-helpcenter h1{
   text-align:center!important;
}
.cart__subtotal-title {
    font-size: 18px!important;
}
.cart__subtotal{
      font-size: 18px!important;
}
.grid-view-item__image {
    display: block;
    margin: 0 auto -70px;
}
.login-icon{
	color:white!important;
  font-size: 1em; 
  word-spacing: 1px;
  margin-right: 40px;
  margin-top: 22px;
}